.bg {
    padding: 30px;
    padding-right: 0;
    padding-bottom: 0;
    position: relative;
}

.splitter-container {
    position: relative;
}

.gray {
    background-color: #F8F9FA;
}

.w-full {
    width: 100% !important;
    max-width: unset !important;
}

.border-liner {
    width: 1px;
    position: absolute;
    border-left: 1px solid #00000020;
    top: 0;
    left: 50%;
    transform: translateX(50%);
    height: 110%;
    z-index: 1;
}

.img-center-box {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        max-width: 561px !important;
    }
}

.text-box {
    display: flex;
    flex-direction: column;
    gap: 70px;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    color: #452E66;
    &.is-centered {
        align-items: center;
    }
    article {
        max-width: 556px;
        text-transform:none !important;
        @include font-subheading2($size: $font-size-small);
        
        @include media('<=phone') {
          @include font-subheading2($size: 0.8rem);
        }
        &.text-lg {
            text-transform: none !important;
            font-weight: $font-weight-subheading2;
            color: $color-darkpurple;
            @include font-subheading2($size: $font-size-heading);
            @include media('<=phone') {
                @include font-subheading2($size: 2rem);
            }
        }
    }
    .custom-content-1 {
        max-width: 100%;
        text-align: center;
        line-height: 1.5;
        position: relative;
        padding-bottom: 100px;
        
        .img-left {
           position:absolute;
           top: -140px;
           left: -100px;
           width:190px !important;
           height: 358px !important;
           img {
               width:100%;
               height:auto;
               max-height:fit-content;
           }
        }
        .img-right {
           position:absolute;
           top: 70px;
           right: -100px;
           width:190px !important;
           height: 358px !important;
           img {
               width:100%;
               height: auto;
               max-height:fit-content;
           }
        }
        @include media-breakpoint-down(md) { 
            
            .img-left {
                position: absolute;
                top: -140px;
                left: -40px;
                width: 80px !important;
                height: auto!important;
            }
            .img-right {
                top: 70px;
                right: -40px;
                width: 80px !important;
                height: auto !important;
            }
        }
        @include media-breakpoint-down(sm) { 
            .img-right {
                display: none;
            }
        }
    }
    img {
        max-width: 616px;
        max-height: 178px;
    }
    .g-sized {
        max-width: 615px;
        max-height: 345px;
    }
    .block-one-t-one {
        max-width: 591px;
    }
    
    .block-one-t-two {
        max-width: 479px;
    }
    .cr-small-text {
        max-width: 320px;
    }
    
    .cr-medium-text {
        max-width: 338px;
    }
    span {
        display: block;
        &.d-inline {
            display:inline;
        }
    }
    .b-zero {
        margin: 15px;
        //-font-size: 60px;
        //-line-height: 84px;
        color: #452E66;
        //-min-width: 559px;
        font-weight: 400;
        font-style: normal;
        .fancy {
            color: #A566FF;
            text-decoration: underline;
            display: inline;
        }
    }
    &.small-gap {
        gap: 20px;
    }
    @include media-breakpoint-down(lg) { 
        align-items: center;
    }
}
.fancy {
    color: #A566FF;
    text-decoration: underline;
    display: inline;
}
.zero-sec-two {
    justify-content: flex-start;
    img {
        display: block;
        margin-left: auto;
        margin-right: 0;
        width: auto;
    }
    .section-zero-image {
        width: auto !important;
    }
    .desc-text {
        margin-top: 90px;
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        gap: 21px;
        text-align: left;
        h1 {
            //-font-size: 60px;
        }
        p {
            //-font-size: 30px;
            line-height: 47px;
            max-width: 453px;
        }
        span {
            margin-bottom: 15px;
            //-font-size: 60px;
        }
        .fan-one {
            color: #D8F1A3;
        }
        .fan-two {
            color: #F3D882;
        }
        .fan-three {
            color: #F6AAAA;
        }
    }
    @include media-breakpoint-down(lg) { 
        img {
        }
        .desc-text {
            margin-top: 90px;
            margin-left: 0;
            display: flex;
            flex-direction: column;
            gap: 21px;
            text-align: center;
        }
    }
    @include media-breakpoint-down(md) { 
        .desc-text {
            margin-top: 30px;
        }
    }
}

.zero-sec-one {
    max-width: 839px;
    img {
        width: auto !important;
        margin-left: -70px;
    }
    @include media-breakpoint-down(lg) { 
        img {
            margin-left: 0;
        }
    }
}

.zero-sec-two {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    gap: 30px;
    background-color: #fff;
    padding: 30px 0;
    padding-bottom: 120px;
    position: relative;
    z-index: 9999;
    .image-placeholder {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        img {
            display: block;
            margin: 0 auto;
            max-width: fit-content;
            width: auto; 
        }
        .img-sec-two-3 {
            width:775px !important;
            height: auto;
        }
    }
    article {
        max-width: 683px;
        color: #5C4879;
        font-size: 28px;
    }
    @include media-breakpoint-down(lg) { 
        
        gap: 30px !important;
        .image-placeholder {
            width: 100%;
            img {
                display: block;
                margin: 0 auto;
            }
        }
    }
    @include media-breakpoint-down(md) { 
        padding-bottom:0;
    }
}
.crypto {
    .size-small {
        max-width: 221px;
    }
    .size-wide {
        max-width: 291px;
    }
    .size-icon {
        max-width: 243px;
        margin-bottom: 28px;
    }
}

.centered-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 34px;
    text-align: center;
    color: #452E66;
    margin-bottom: 130px;
    margin-top: 150px;
    span {
        color: #452E6660;
        font-size: 28px;
    }
    h1 {
        max-width: 890px;
        //font-size: 60px;
        //line-height: 60px;
        &.w-auto {
            max-width: none !important;
            width: auto !important;
        }
    }
    p {
        max-width: 514px;
        line-height: 42px;
        color: #452E6680;
    }
    .icon {
        max-width: 95px;
        max-height: 95px;
    }
    @include media-breakpoint-down(lg) { 
        margin-bottom: 50px;
        margin-top: 70px;
    }
}

.cr-header-img {
    max-width: 305px;
    max-height: 132px;
    display: block;
    margin: 0 auto;
}

.a-center {
    align-items: center;
}

.flex-no-gaps {
    gap: 0;
}

.flex-start {
    justify-content: flex-start;
}

.to-right {
    padding-left: 30px;
}

.sized-image {
    max-width: 301px;
    max-height: 352px;
}

.graph-zero {
    display:flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    background-color: #452E66;
    >.section-top {
        flex-direction: row;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
        margin-top: -50px;
        .zero-img-two-zero {
            width: auto !important;
            margin-left: auto;
            margin-right: auto;
        }
    } 
    >.section-bot {
        display:flex;
        flex-direction: row;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        .block-caption {
            display:flex;
            flex-direction: row;
            position: absolute;
            align-items: center;
            justify-content: center;
            z-index: 2;
            height: 100%;
            top: 0;
            left: 0;
            width: 100%;
            >div {
                width: 50%;
                height: 100%;
                &:nth-of-type(2) {
                    border-left: 1px solid rgba(255,255,255,0.2);
                }
            }
            .caption-l {
                display:flex;
                flex-direction: column;
                position: relative;
                align-items: flex-end;
                justify-content: center;
                >.zero-img-comp-2 {
                    width: auto !important;
                }
            }
            .caption-r {
                display:flex;
                flex-direction: column;
                position: relative;
                align-items: flex-start;
                justify-content: space-around;
                > img {
                    width: auto !important;
                }
            }
        } 
    }
    @include media-breakpoint-down(lg) { 
        padding-top: 200px;
        >.section-top {
            &.img-gradient {
                transform: scale(.8);
                transform-origin: center bottom;
                > svg {
                    position: absolute;
                    transform: translateX(-50%);
                    left: 50%;
                    top: -250px;
                }
            }
        } 
    }
    @include media-breakpoint-down(md) { 
        padding-top: 200px;
        >.section-top {
            &.img-gradient {
                transform: scale(.65);
                transform-origin: center bottom;
                > svg {
                    position: absolute;
                    transform: translateX(-50%);
                    left: 50%;
                    top: -250px;
                }
            }
        } 
    }
    @include media-breakpoint-down(sm) { 
        padding-top: 150px;
        >.section-top {
            &.img-gradient {
                transform: scale(.3);
                transform-origin: center bottom;
                > svg {
                    position: absolute;
                    transform: translateX(-50%);
                    left: 50%;
                    top: -250px;
                }
            }
        } 
    }
}


.world-footer {
    position: relative;
    justify-content: space-between;
    width: 100%;
    height: auto;
    img {
        //-position: absolute;
        //-left: 50%;
        //-max-width: 1400px;
        //-top: 0;
        width: 100%;
        //-height: 100%;
        //-transform: translateX(-50%);
        z-index: 9;
    }
    .footer-text {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100%;
        color: #fff;
        justify-content: space-between;
        z-index: 9999;
        padding-top: 56px;
        padding-bottom: 76px;
        max-height: 649px;
        padding-top: 90px;
        padding-bottom: 130px;
        align-items: flex-start;
        gap: 50px;
        p {
            color: #F8F9FA;
            max-width: 487px;
        }
        button {
            width: 150px;
            height: 39px;
            border-radius: 20px;
            display: flex;
            justify-content: space-between;
            background-color: #fff;
            align-items: center;
            color: #A566FF;
            font-size: 12px;
            cursor: pointer;
            span {
                flex: 2;
                text-align: center;
            }
            img {
                flex: 1;
                width: 12px;
                height: 11px;
                position: inherit;
            }
        }
    }
    .f-token-block {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        height: auto;
        background-color:#F8F9FA;
        min-height: 600px;
        max-height: 600px;
        overflow: hidden;
        >img {
            z-index: 1;
        }
        .f-token-text {
            display: flex;
            flex-direction: row;
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            z-index: 2;
            > div {
                width:50%;
                height: 100%;
                &:nth-of-type(2) {
                    border-left: 1px solid rgba(0,0,0,0.2);
                }
            }
            .text-l {
                color:$color-darkpurple;
                position: relative;
            }
            .text-r {
                color:$color-darkpurple;
                position: relative;
                img.icon-check {
                    width: auto;
                    height: 45px;
                    min-height: 45px;
                    min-width:85px;
                }
                span {
                    display:inline-block;
                    margin-right: 1rem;
                    color:$color-darkpurple;
                }
                >p {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }
            }
            .btn-primary.btn-world {
                align-items: center;
                justify-content: space-between;
                background: #A566FF;
                border: 1px solid #A566FF;
                border-radius: 50px;
                color:#fff;
                display: flex;
                flex-direction: row;
                font-size: 12px;
                height: 42px;
                letter-spacing: 2%;
                line-height: 1.9px;
                padding: 8px 16px;
                width: 130px;
                margin-left: 2rem;
                span {
                    color:#fff;
                }
                .icon-arw {
                    height:12px !important;
                    width:auto !important;
                }
                &:hover {
                    background: transparent;
                    border: 1px solid #A566FF;
                    color: #A566FF;
                    span {
                        color: #A566FF;
                    }
                }
            }
        }
        @include media-breakpoint-down(md) { 
            min-height:600px;
            max-height:100%;
            .f-token-text {
                display: flex;
                flex-direction: column;
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
                z-index: 2;
                > div {
                    width:100%;
                    height: 100%;
                    &:nth-of-type(2) {
                        border-left: 1px solid rgba(0,0,0,0.2);
                    }
                }
                .text-l {
                    color:$color-darkpurple;
                    position: relative;
                    height: auto;
                }
                .text-r {
                    color:$color-darkpurple;
                    position: relative;
                    img.icon-check {
                        width: auto;
                        height: 45px;
                        min-height: 45px;
                        min-width:85px;
                    }
                }
            }
        }
        
    }

}
.crypto-f {
    height: 695px;
    position: relative;
    width: 100%;
    z-index: 9999;
    background-color:#301D49;
    > img {
        position:absolute;
    }
    .main-box {
        position: relative;
        z-index: 9999;
        height: 100%;
        .f-text-crypto {
            display: flex;
            align-items: center;
            justify-content: space-around;
            font-size: 30px;
            line-height: 42px;
            height: 100%;
            .text-box {
                color: #fff;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                line-height:1.8;
                font-weight: 200;
                img {
                    position:relative;
                    left: unset;
                    max-width: none;
                    top: 0;
                    width: auto;
                    height: auto;
                    transform: translateX(0);
                }
            }
            .f-image {
                position: inherit;
                max-width: 550px;
                max-height: 265px;
                transform: translateX(0);
            }
            .f-s-image {
                max-width: 290px;
                max-height: 137px;
                margin-top: 50px;
            }
            .img-crypt0-1 {
                width: 441px !important;
                height: auto;
            }
        }
        .zero-footer-text {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: #fff;
            gap: 26px;
            h1 {
                font-size: 60px;
                line-height: 84px;
                max-width: 700px;
            }
            h2 {
                font-size: 30px;
                max-width: 495px;
                line-height: 42px;
            }
        }
    }
    @include media-breakpoint-down(lg) { 
        
        .f-text-crypto {
            flex-direction: column-reverse;
            .img-auto-size {
                width: -webkit-fill-available;
            }
            .text-box {
                gap: 40px;
                img {
                    width: auto !important;
                }
            }
            .img-crypt0-1 {
                width: 250px !important;
                height: auto;
            }
        }
    }
}

.zero-indis {
    height: 610px;
}

.block-zero-img {
    max-width: 595px;
    max-height: 512px;
}

.block-one-img {
    max-width: 700;
    max-height: 706px;
}

.world {
    article {
        max-width: 507px;
    }
}

.enterprise {
    max-width: 577px;
    line-height: 84px;
}

.s-t-center {
    text-align: inherit;
}

.small-sc {
    display: none;
}
.large-sc {
    display: block;
}

.b-one-zero {
    font-size: 34px;
    line-height: 47px;
    max-width: 556px;
    display: flex;
    margin-top: 0;
    margin-bottom: auto;
}

.zero-box {
    display: flex;
    flex-direction: column;
    gap: 43px;
    padding-right: 50px;
    padding-top: 190px;
    padding-bottom: 50px;
    .zero {
        width: 145px !important;
        height: 145px;
        margin-left: 55px;
    }
    .article {
        text-align: left;
        margin-right: 0;
        margin-left: auto;
        max-width: 545px;
        font-size: 60px;
        line-height: 60px;
        span {
            color: #BF93FF;
            text-decoration: underline;
        }
    }
    
    @include media('>=phone') {
        padding-right: 0;
        .zero {
            margin-left: 0;
        }
        .article {
            margin-left: 0;
            max-width: none;
        }
    }
    @include media-breakpoint-down(lg) { 
        padding-right: 0;
        padding-top: 70px;
        padding-bottom: 50px;
        .zero {
            margin-left: auto;
            margin-right: auto;
        }
        > .body-text {
            text-align: center;
        }
    }
}

.section-image {
    //-max-height: 780px;
    overflow: hidden;
}

.section-image-one {
    max-height: 980px;
    overflow: hidden;
}


.relative-header {
    position: relative;
    overflow-y: hidden;
    overflow-x: visible;
}

.back-img {
    position: absolute;
    left: 0;
    top: 45%;
    width: 100%;
    height: 100%;
    z-index: inherit;
}

.backimage {
    position: relative;
}

.timeline-box {
    width: 100%;
    height: 100%;
}

.mg-top-overlay {
    margin-top: -10px;
}

.wide-image {
    height: 894px;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        //-max-width: 1400px;
        //-max-height: 894px;
        height: 100%;
        position: absolute;
        top: 95px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media only screen and (max-width: 950px) {
    .world-footer {
        //-min-height: 700px;
        .footer-text {
            p {
                font-size: 30px;
                line-height: 42px;
            }
            .smaller-p {
                font-size: 20px;
                line-height: 28px;
            }
        }
    }
    .main-box {
        .f-text-crypto {
            flex-direction: column-reverse;
            padding-bottom: 50px;
        }
    }
    .col-reversed {
        flex-direction: column-reverse;
    }
    .col-lg-6 {
        margin-top: 20px;
    }
    .border-liner {
        display: none;
    }
    .bg {
        padding: 0;
        position: relative;
    }
    .text-box {
        display: flex;
        flex-direction: column;
        gap: 0;
        height: 100%;
        justify-content: center;
        color: #452E66;
        article {
            text-align: center !important;
            max-width: 95% !important;
        }
        span {
            display: block;
        }
        img {
            max-width: 95%;
            max-height: 178px;
            display: block;
            margin: 0 auto;
        }
        .g-sized {
            max-width: 95%;
            max-height: 345px;
        }
        .block-one-t-one {
            max-width: 95%;
        }
        
        .block-one-t-two {
            max-width: 95%;
        }
        & > * {
            //-padding-left: 20px;
            text-align: center !important;
        }
        .gradient {
            padding: 0;
        }

    }
    .decarbonize {
        img {
            max-width: 565px;
        }
    }
    .to-right {
        padding-left: 0;
    }
    .s-t-center {
        text-align: center;
    }
    //-.small-sc {
        //-display: block;
    //-}
    //-.large-sc {
        //-display: none;
    //-}
    img {
        display: block;
        margin: 0 auto;
    }
    .enterprise {
        max-width: 100%;
    }
    .footer-text {
        padding-top: 40px;
        padding-bottom: 90px;
        p {
            display: block;
            margin: 0 auto;
            text-align: center;
        }
        h1 {
            display: block;
            margin: 0 auto;
            text-align: center;
        }
    }
  }

.gr-header {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        max-width: 800px;
        max-height: 178px;
    }
}


.sticked {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

@media only screen and (max-width: 1370px) {
    .border-liner {
        display: none;
    }
}

@media only screen and (max-width: 1250px) {
    .world-footer {
        min-height: fit-content;
    }
}
