.timeline.timeline-six.px-3.px-sm-0
  .row.g-0.mb-5.timeline-mini
      .col-lg.py-2
        .card.border-gray-300.pt-0
          .card-body.left
            h3.body-text.mb-3 Energy Attribute<br> Certificates (EACs)
            h4.subtitle-secondary.mini.mx-3.mx-lg-0  from renewable energy facilities&nbsp;<br> around the world, including&nbsp;<br> renewable energy certificates&nbsp;<br> (RECs), guarantees of origin (GOs),&nbsp;<br> and International RECs (I-RECs)
      .col-lg-2.col-md-1.text-center.flex-column.d-flex.line-seperator
        span.avatar-separator.pt-4
          .circle.alt-color-1 01
        .line-box
          .col.vr &nbsp;
          .col &nbsp;
        .line-box
          .col.vr &nbsp;
          .col &nbsp;
      .col-lg
  .row.g-0.mb-5.timeline-mini.reversed
    .col-lg
    .col-lg-2.col-md-1.text-center.flex-column.d-flex.line-seperator
      span.avatar-separator.pt-4
        img(src="/cr-world-dots-2.png", alt="world-dots")
        .circle.alt-color-2 02
      .line-box.h-50
        .col.vr &nbsp;
        .col &nbsp;
      .line-box.h-50
        .col.vr &nbsp;
        .col &nbsp;
    .col-lg.py-2
      .card.border-gray-300.pt-0
        .card-body
          h3.body-text.mb-3 CO2 Removal Credits
          h4.subtitle-secondary.mini from verified negative-emissions projects
  //-.row.g-0.mb-0.timeline-mini
    .col-lg.py-2
      .card.border-gray-300.additional
        .card-body.left
          h4.subtitle-secondary.mini.mb-3 new products like
          h3.body-text.mb-3.mx-3.mx-lg-0 Sustainable Aviation<br> Fuel credits
          h4.subtitle-secondary.mx-3.mx-lg-0 to accelerate action in difficult-to-decarbonize sectors<br> like Aviation and Manufacturing
    .col-lg-2.col-md-1.text-center.flex-column.d-flex.line-seperator
      span.avatar-separator.pt-4
        img.right(src="/cr-world-dots-2.png", alt="world-dots")
        .circle 03
      .line-box.h-50
        .col.vr &nbsp;
        .col &nbsp;
      .line-box.h-50
        .col.vr &nbsp;
        .col &nbsp;
    .col-lg
  .row.g-0.fixed-margin
    .col-lg.py-2
      .card.border-gray-300.pt-0.additional.max-450.right
        .card-body.txt-right
          h4.subtitle-secondary.mini.mb-5.mx-3.mx-lg-0 These products are created using special kinds of fractionalized <span class="fancy">NFTs</span> and decentralized identifiers anchored to the <span class="fancy">Energy Web Chain</span>
          .learn-more
            .li-item
              span <a href="https://github.com/ethereum/EIPs/issues/1155" target="_blank" >ERC-1155 <img src="/arrow-right.svg"  alt="arrow-right"/></a>
            .li-item 
              span <a href="https://github.com/ethereum/EIPs/issues/1888" target="_blank" >ERC-1888 <img src="/arrow-right.svg"  alt="arrow-right"/></a>
            .li-item 
              span <a href="https://energy-web-foundation.gitbook.io/energy-web/technology/the-stack/application-layer/clean-energy-traceability-applications#technology-used" target="_blank" >Learn More <img src="/arrow-right.svg"  alt="arrow-right"/></a>
    .col-lg-2.col-md-1.text-center.flex-column.d-none.d-sm-flex.line-seperator
    .col-lg
              
