.wide-image 
    img(src="/zero-line-strokes.png", alt="strokes").back-img
.container-full
    .content-wrap.content-0
        .container
            .row.mb-0.bg.relative-header
                .col-lg-6.px-0
                    .text-box.flex-no-gaps
                        h4.subtitle-secondary.b-one-zero They have operations across the world. Today, it’s a real challenge to invest in and/or buy renewables in many countries without mature renewable energy markets like the U.S. or Western Europe.
                .col-lg-6.px-0
                    .zero-box
                        img(src="/zero.png", alt="zero").zero
                        h3.body-text Now, this company <br>can use Zero, an <br><span> open source solution</span> <br>for purchasing <br>tokenized <br>renewables, to solve <br>this problem.
        .row.mb-0.px-0.graph-zero.mt-5.mx-0
            .section-top
                img.zero-img-two-zero(src="/section-two-zero-2.png", alt="zero")
            .section-bot
                img(src="/zero-img-comp-4.svg", alt="zero")
                .block-caption
                    .caption-l 
                        img.zero-img-comp-2(src="/zero-img-comp-2.svg", alt="zero")
                    .caption-r 
                        img(src="/zero-img-comp-1.svg", alt="zero")
                        img(src="/zero-img-comp-3.svg", alt="zero")
        .container
            .row.mb-0.bg.col-reversed
                .col-lg-5.px-0
                    .text-box.flex-no-gaps
                        h4.subtitle-secondary.mini.mx-3 This allows Anna and others to
                        h3.body-text.b-zero <span class="fancy">Trace </span> and <span class="fancy">Trust</span> information about their renewable energy investments and purchasing.
                .col-lg-7.px-0
                    img(src="sec-three-zero.png", alt="")