.container-full
    .content-wrap.content-1.splitter-container
        .container
            .row.mb-0.bg
                .col-lg-6.px-0.zero-sec-one
                    img.img-sec-one(src="/enter-image-one.png", alt="enter-iamge-one")
                .col-lg-6.px-0
                    .text-box.flex-no-gaps.zero-sec-two
                        img(src="/enter-iamge-two.png", alt="enter-image-two").section-zero-image
                        .desc-text 
                            h1.body-text Making it 
                            article 
                                span.body-text.fan-one Easy...
                                span.body-text.fan-two Transparent...
                                span.body-text.fan-three Trustworthy...
                            h4.subtitle-secondary.mini.px-3 For new customers to discover and purchase renewables from their facilities.
        .row.mb-0.gray.zero-sec-two
            h4.subtitle-secondary.mini Because
            .image-placeholder 
                img(src="/sec-two-three.png", alt="sec-two").half
            .image-placeholder 
                img(src="/houses.png", alt="sec-two").two
            article.t-center.w-full.px-5 Zero also enables renewable energy suppliers and brokers to tap into<br> new kinds of renewable energy buyers—including a new wave of<br> cryptocurrency companies looking to decarbonize their operations.
    .border-liner
//- .world-footer.crypto-f
    img(src="/sec-two-footer.png" alt="world-footer")
    .container.main-box
        .zero-footer-text
            .t-center
                h1 That want to <u>Decarbonize the crypto industry</u>
            .t-center 
                h2 And that signed the EW spearheaded Crypto Climate Accord