.container
    .content-wrap.content-2.splitter-container
        .row.mg-0
            .col.px-0
                .text-box.small-gap.text-center
                    article.f-medium.t-start.custom-content-1.pb-0.pt-5 She’s not changing the contract with her utility   
                    article.f-larger.t-start.custom-content-1 <span class="img-left"><img src="/zero-img-enterprise-1.png" alt="longer-image" /></span><span class="img-right"><img src="/zero-img-enterprise-2.png" alt="longer-image" /></span>Instead she’s buying <span class="gradient d-inline">Energy Attribute</span><br> <span class="gradient d-inline">Certificates</span> from renewable energy<br> facilities around the world in order to<br> decarbonize her electricity supply
                    