.container.vh-100
    .content-2.splitter-container
        .row.mg-0
            .col.px-0.py-5
                .text-box.small-gap.text-center.px-3
                    h4.subtitle-secondary.mini.custom-content-1.pb-0.pt-5 She’s not changing the contract with her utility   
                    h3.body-text.custom-content-1.mb-5 <span class="img-left"><img src="/zero-img-enterprise-1.png" alt="longer-image" /></span><span class="img-right"><img src="/zero-img-enterprise-2.png" alt="longer-image" /></span>Instead she’s buying <span class="gradient d-inline">Energy Attribute</span><br> <span class="gradient d-inline">Certificates</span> from renewable energy<br> facilities around the world in order to<br> decarbonize her electricity supply
                    