.container-full
    .content-wrap.content-4
        .container-full.gray
            .row.m-0.p-0
                .col
                    .container
                        .row.mb-0.bg.p-0
                            .col-lg-6.px-0.gray
                                .text-box
                                    h3.body-text Boosted the<br> economics of different<br> renewable energy power plants
                            .col-lg-6.px-0.pt-3.pt-lg-0
                                img(src="/dark-mattery.png" alt="mattery")
        .row.mb-0.bg
            .centered-items 
                img(src="/actions-icon.png", alt="actions").icon
                span.subtitle-secondary.mini Anna’s simple actions
                h3.body-text Making it easier for more to be<br> constructed and more quickly decarbonize<br> the global energy system. 
.world-footer
    img(src="/world-foo.png", alt="world-footer").large-sc
    img(src="/shortern-world-f.png", alt="world-footer").small-sc
    //-.container
        .footer-text
            //--p.f-medium.t-start.smaller-p Digitizing renewables, makes them easier and faster to buy, which as a consequence increases the demand and ultimately drives
            //--p.f-larger.t-start.h-60 More investments in zero-carbon resources
.world-footer
    .f-token-block
        img(src="/zero-img-world-1.svg", alt="")
        .f-token-text
            .text-l.px-5.pt-5 
                h3.body-text.mt-0.mt-md-5 Use Zero today to
            .text-r.pt-0.pt-md-5
                p.subtitle-secondary.mini.mt-5 <span class="pr-5"><img class="icon-check" src="/zero-img-world-2.svg", alt="" /></span> <span>Tokenize and sell renewable energy supply</span>
                p.subtitle-secondary.mini.mt-5 <span><img class="icon-check" src="/zero-img-world-2.svg", alt="" /></span> <span>Decarbonize your business or home</span>
                p.subtitle-secondary.mini.mt-5 <span><img class="icon-check" src="/zero-img-world-2.svg", alt="" /></span> <span>Build a new business model with the help of the Energy Web stack</span>
                div.mt-5 <a href="https://dev-energyweb.pantheonsite.io/contact/" class="btn-primary btn-world" > <span>Build with us</span> <img class="icon-arw" src="/icon-ArrowRight.svg" alt="arrow icon"></a>